@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: 'Arial', 'Segoe UI', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 1.5vmin);
  background-color: #de1f13;
}

.style-font{
  font-family: 'Bebas Neue';
}
